---
tre:
  # The Git branch to checkout for the TRE codebase
  branch: sanger-production

  # The Google Cloud project names
  gcp:
    master: fg-qmul-production-master

github:
  # Your GitHub username and password/authentication token, to allow you
  # to clone the TRE codebase repository
  username: GITHUB_USERNAME
  password: GITHUB_PASSWORD
