---
tre:
  # The Git branch to checkout for the TRE codebase
  branch: sanger-production

google:
  # Google Cloud project names
  project:
    master: fg-qmul-production-master
    container: fg-qmul-containers

  # Google Cloud service accounts
  sa:
    container:
      account: container-registry
      key: /PATH/TO/CONTAINER/REGISTRY/SA/KEY

github:
  # Your GitHub username and password/authentication token, to allow you
  # to clone the TRE codebase repository
  username: GITHUB_USERNAME
  password: GITHUB_PASSWORD
