---
tre:
  # The GitHub repository for the TRE codebase (omitting the github.com)
  repo: wsi-hgi-tre/finngen-v3.git

  # The branch within the repository to checkout
  branch: sanger-production

github:
  # Your GitHub username and password/authentication token, to allow you
  # to clone the TRE codebase repository
  username: GITHUB_USERNAME
  password: GITHUB_PASSWORD
