[compute]
region = europe-west-2
zone = europe-west2-b

[core]
account = {{ google.sa.container.account }}@{{ google.project.container }}.iam.gserviceaccount.com
project = {{ google.project.container }}
